<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mk64stats.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="mk64stats.Properties.Settings.ConnectionString" connectionString="Data Source=database.sqlite;Version=3;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <mk64stats.Properties.Settings>
            <setting name="DatabaseMode" serializeAs="String">
                <value>sqlite</value>
            </setting>
            <setting name="DataFilePath" serializeAs="String">
                <value>output.txt</value>
            </setting>
        </mk64stats.Properties.Settings>
    </userSettings>
</configuration>
